<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DocumentManagementSystem.Properties.Settings.DMSProjectConnectionString"
            connectionString="Data Source=DESKTOP-LEOI7B2\SQLEXPRESS;Initial Catalog=DMSProject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>